# Dependencies
node_modules/

# Production build output
dist/

# Env files
.env
.env*.local

# Miscellaneous
.DS_Store

# User local uploads
uploads/

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# TypeScript info
*.tsbuildinfo
